<header id="header">
    <div id="menu-bottom" class="blurred">
        <nav id="menu" class="main-menu">
            <div class="blur-before"></div>
            <a href="/" class="header-logo left"><img src="../../../images/gtat_logo.svg" width="72px"></a>
            <a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Show menu</a>
            <ul class="load-responsive" rel="Main menu">
                <!-- <li><a href=""><i class="fa fa-puzzle-piece"></i><strong>Features</strong></a></li> -->
                <li><a href="#" target="_blank"><i class="fa-solid fa-circle-info"></i><strong>Rules</strong></a></li>
                <li><a href="#"><i class="fa-solid fa-headset"></i><strong>Support</strong></a></li>
                
                <li>
                    <a href="#"><i class="fa-solid fa-photo-film"></i><strong>Media</strong></a>
                </li>

                <li>
                    <a href="/ladder/"><i class="fa-solid fa-chart-pie"></i><strong>Ladder</strong></a>
                    <ul class="sub-menu">
                        <li><a href="/ladder/total-gang-respect">Gang: Most Respected</a></li>
                        <li><a href="/ladder/total-respect">Player: Most Respected</a></li>
                        <li><a href="/ladder/money">Player: Richest</a></li>
                        <li><a href="/ladder/damage">Player: Most Damage</a></li>
                        <li><a href="/ladder/level">Player: Highest Level</a></li>
                        <li><a href="/ladder/frenzie">Player: Most Frenzies</a></li>
                        <li><a href="/ladder/race">Player: Most Races</a></li>
                        <li><a href="/ladder/arena">Player: Most Arenas</a></li>
                        <li><a href="/ladder/duel">Player: Most Duels</a></li>
                        <li><a href="/ladder/zones">Zones</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fa-solid fa-landmark"></i><strong>H.o.F</strong></a></li>
                <li><a href="#"><i class="fa-solid fa-handcuffs"></i><strong>H.o.S</strong></a></li>
                <li><a href="#" target = "_blank"><i class="fa-solid fa-message"></i><strong>Forum</strong></a></li>
            </ul>
        </nav>
    </div>	
</header>