<div id="header-top">
    <div class="wrapper">
        <ul class="right">
            <li><a href="https://discord.io/gtatournament" target="_blank"><i class="fa fa-link"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCsZTzaxFs_8ihCaCX_vaJ2Q" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://www.patreon.com/gtatournament" target="_blank"><i class="fa fa-coffee" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="load-responsive" rel="Top menu">
            <li><a href="#">IP: <small class="online" style = "background-color:#61C630; color:white;">online</small> play.gtat.pro:7777 25/200</a></li>
            <li><a href = "#"><i class="fa fa-sign-in"></i> Login</a></li>
        </ul>
    </div>
</div>