<div class="content-padding">      
    <div class="article-full">
        <h2 style="font-weight:bold;"><a href="#">title</a> </h2><br>
            <div class="article-content">
                body message
                <div class="article-icons">
                    <a href="player/1" class="js-user-tooltip" data-user-tooltip-user-id="1337"><i class="fa fa-fire" aria-hidden="true"></i> [tag] user</a>                
                    <a href="" title="2017/06/01 23:50:02"><i class="fa fa-calendar" aria-hidden="true"></i>time ago</a>
                </div>
            </div>
    </div>																									
</div>

<h2><span>more News</span></h2>
<div class="content-padding">
    <div class="article-footer is-start-page">
        <div class="similar-posts">
            <div class="home-article right">
                <ul>
                    <li>
                        <a href="#">
                            <img src="images/45.png" alt="" title="">
                            <strong>Payday &amp; New Gang Colors  (04/04/2022)</strong>
                            <span class="a-txt"><span title="2017/05/25 23:50:05">18 hours ago</span> by [GTAT]Big Smoke</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/45.png" alt="" title="">
                            <strong>Payday &amp; New Gang Colors  (04/04/2022)</strong>
                            <span class="a-txt"><span title="2017/05/25 23:50:05">18 hours ago</span> by [GTAT]Big Smoke</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/45.png" alt="" title="">
                            <strong>Payday &amp; New Gang Colors  (04/04/2022)</strong>
                            <span class="a-txt"><span title="2017/05/25 23:50:05">18 hours ago</span> by [GTAT]Big Smoke</span>
                        </a>
                    </li>                                                                                                                                                                                                                                                                                                                                     
                </ul>
            </div>
        </div>
    </div>

    <div class="clear-float"></div>

    <div>
        <a href="#" class="defbutton"><i class="fa fa-book" aria-hidden="true"></i>View more news posts</a>
    </div>
</div>					