<h2><span>GTAT Ladder</span></h2>
<div class="content-padding">   
    This is the ladder of the current GTAT season.<br>You can see the top players, top gangs and other rankings of this quarter.<br><br>
    After a season is over, you can see the best players and gangs in the  Hall of fame.<br>
    <div class="clear-float"></div>
    <div>
        <a href="../../hof.php" class="defbutton"><i class="fa fa-trophy" aria-hidden="true"></i>Hall of fame (2020 - now)</a>
    </div>
</div>